<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Order</title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
            crossorigin="anonymous">
    </head>
    <body>
        <div class = "d-flex justify-content-center">
            <a href="/">Back to orders</a>
            <form action="/cookies/edit/{{ order.id }}" method="POST" class=" col-3 mx-auto">
                <h1 class="d-flex justify-content-center">Edit {{ order.name }}</h1>
                <input type="hidden" name="id" value="{{order.id}}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control" value="{{ order.name }}">
                </div>
                <div class="form-group">
                    <label for="cookie_type"> Cookie Type:</label>
                    <input type="text" name="cookie_type" class="form-control" value="{{ order.cookie_type }}">
                </div>
                <div class="form-group">
                    <label for="num_of_boxes" >Number of boxes:</label>
                    <input type="text" name="num_of_boxes" class="form-control" value="{{ order.num_of_boxes }}">
                </div>
                <input type="submit" value="Log" class="btn btn-primary my-4">
            </form> 
        </div>
    </body>
</html>
